/* Definici칩n de variables */
:root {
    --color-RichBlack: #071013;
    --color-PacificCyan: #23b5d3;
    --color-Moonstone: #75abbc;
    --color-CadetGray: #a2aebb;
    --color-Platinum: #dfe0e2;
    --fuentePrincipal: "Tahoma";
    --fuenteSecundaria: "Sans serif";
  }

/* Colores de barra de navegaci칩n */
.background-navbar{
  background-color: var(--color-RichBlack);
  font-family: var(--fuentePrincipal);
}

/* Color de fuente */

/* Estilos CSS para los elementos de texto dentro de la barra de navegaci칩n */
.navbar-brand h1,
.navbar-nav .nav-item .nav-link {
  color: var(--color-PacificCyan); /* Utiliza la variable de color en ambos elementos */
}

/* Estilos de h1 */

/* Fuente */
.font-h1{
  font-family: var(--fuentePrincipal);
  
}
/* Color de h1 */
.color-h1 {
  color: var(--color-RichBlack);

}



/* Estilo de tarjetas */

/* Im치genes */
.img-size{
  height: 400px;
  width: 400px;
}


/* Fuente */
.card-font{
  font-family: var(--fuentePrincipal);
}


/* Estilo de botones */
.btn-font{
  font-family: var(--fuentePrincipal);
  color: var(--color-RichBlack);
  font-size: 1.3rem;
}